#if !defined __BORLANDC__
#include <afxres.h>
#endif
#include "resources.h"
//=============================================================================
//Resource languages: Codes for languages and sub-languages are declared in 
//winnt.h eg. for US english replace SUBLANG_ENGLISH_UK with SUBLANG_ENGLISH_US
//eg. for FRENCH replace LANG_ENGLISH with LANG_FRENCH and then replace 
//SUBLANG_ENGLISH_UK with either SUBLANG_FRENCH,SUBLANG_FRENCH_BELGIAN,
//SUBLANG_FRENCH_CANADIAN,SUBLANG_FRENCH_SWISS,SUBLANG_FRENCH_LUXEMBOURG,
//SUBLANG_FRENCH_MONACO depending on which national or regional variation of
//the language corresponds best with your requirements.
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK  
//=============================================================================
//Dialog
//=============================================================================
IDD_DIALOG1 DIALOGEX 0, 0, 252, 149
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | 
      WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Resources: Versioninfo"      
FONT 8, "MS Sans Serif"
  {
  DEFPUSHBUTTON   "OK",IDOK,22,62,50,14
  PUSHBUTTON      "Cancel",IDCANCEL,111,63,50,14
  }
//=============================================================================
// Version - see winver.h for definition of constants.
//=============================================================================
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,1
PRODUCTVERSION  1,0,0,1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK //FILEFLAGSMASK 0x3fL
FILEOS          VOS_NT_WINDOWS32     //FILEOS        0x40004L
FILETYPE        VFT_APP              //FILETYPE      0x1L
FILESUBTYPE     VFT2_UNKNOWN         //FILESUBTYPE   0x0L
  {
  BLOCK "StringFileInfo"
    {
    //no constants defined for next block so just use raw numbers
    BLOCK "080904b0""   //"languageID" '+' "charsetID"- (U.K. English,Unicode) 
      {
      //add standard values
      VALUE "Comments",         "0\0"
      VALUE "CompanyName",      "FoosYerDoos\0"              //(required)
      VALUE "FileDescription",  "Resources: Versioninfo\0"   //(required)
      VALUE "FileVersion",      "1.0\0"                      //(required)
      VALUE "InternalName",     "resource\0"                 //(required)
      VALUE "LegalCopyright",   "Copyright © 2001 Ken Fitlike\0"    
      VALUE "LegalTrademarks",  "Ken Fitlike and FoosYerDoos are trademarks\0"
      VALUE "OriginalFilename", "res01.exe\0"                //(required)
      VALUE "PrivateBuild",     "NA\0"
      VALUE "ProductName",      "res\0"                      //(required)
      VALUE "ProductVersion",   "1.0\0"                      //(required)
      VALUE "SpecialBuild",     "\0"   
      //add a user-defined value
      VALUE "My Stuff","This is My Stuff\0"    //this is non-standard
      }
    }
  BLOCK "VarFileInfo"
    {
    //no constants defined for next value so just use raw numbers
    //languageID, charsetID (U.K. English(2057),Unicode(1200))
    VALUE "Translation", 0x809, 0x4b0     
    }
  } 